NEXT_PUBLIC_PRIVY_APP_ID=

NEXT_PUBLIC_RECLAIM_APP_ID=
RECLAIM_APP_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ARBITRUM_RPC_URL=
NEXT_PUBLIC_ROBINHOOD_TESTNET_RPC_URL=
NEXT_PUBLIC_PAYMENT_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=

ARBITRUM_SEPOLIA_RPC_URL=
ARBITRUM_RPC_URL=
ROBINHOOD_TESTNET_RPC_URL=
PRIVATE_KEY=

ARBISCAN_API_KEY=



# Environment
NEXT_PUBLIC_ENVIRONMENT=development
